@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

        /* HEADER SECTION */

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 2rem 3rem;
}
.logo p{
    font-size: 40px;
    font-family: 'Heebo', sans-serif;
}

.nav ul {
    display: flex;
   
}
.nav ul li{
    margin: 0 1.9rem;
    list-style: none;
    padding-top: 13px;

}
.nav ul li a{
    color: #333333;
    font-size:22px;
    text-decoration: none;
    font-weight: 500;
}

            /* HERO SECTION  */


main{
    margin: 2rem 3rem;
    position: relative;
}
.main-box1{
    margin: 6rem 0 1rem;
    width: 33rem;
    position: relative;
    left: 16rem;
}
.main-box1 p{
    color: #2d9cdb;
    font-size: 18px;
    line-height: 27px;
}
.main-box1 h1 ,
.main-box2 h1{
    font-size: 48px;
    line-height: 72px;
    font-weight: 500;
}
main img{
    width: 100%;
    margin: auto;
    border: none;
    border-radius: 18px;
    margin: 2rem 0;
}

.main-box2{
    max-width: 22rem ;
    position: relative;
    left: 16rem;
    position: relative;
}
.main-box2 P{
    margin-top: 2rem;
    font-size: 18px;
    line-height: 27px;
}
.main-box2 .span{
    margin-top: 2rem ;
    color: #828282 ;
    font-size: 14px;
}
input[type="email"]{
    width: 21rem;
    height: 3.4rem;
    border: none;
    border-radius: 12px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type="email"]::placeholder{
    font-size: 18px;
    color: #bdbdbd;
}
input[type="button"]{
    width: 5.8rem;
    height: 2.7rem;
    border: none;
    border-radius: 12px;
    background-color: #2d9cdb;
    font-size: 18px;
    color: #f2f2f2;
    position: absolute;
    right: 1.3rem;
    bottom: 5px;
}


            /* SERVICE SECTION */

