@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

/* HEADER SECTION */

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 2rem 3rem;
}
.logo p {
  font-size: 40px;
  font-family: "Heebo", sans-serif;
  cursor: pointer;
}

.nav ul {
  display: flex;
}
.nav ul li {
  margin: 0 1.9rem;
  list-style: none;
  padding-top: 13px;
}
.nav ul li a {
  color: #333333;
  font-size: 22px;
  text-decoration: none;
  font-weight: 500;
}

.menu-icon{
  font-size: 25px;
  padding-top: 10px;
  display: none;
}

/* HERO SECTION  */

main {
  margin: 2rem 3rem;
  position: relative; 
}
.main-box1 {
  margin: 6rem 0 1rem;
  width: 33rem;
  position: relative;
  left: 16rem;
}
.main-box1 p {
  color: #2d9cdb;
  font-size: 18px;
  line-height: 27px;
}
.main-box1 h1,
.main-box2 h1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 500;
}
main img {
  width: 100%;
  margin: auto;
  border: none;
  border-radius: 15px;
  margin: 2rem 0;
}

.main-box2 {
  max-width: 22rem;
  position: relative;
  left: 16rem;
  position: relative;
}
.main-box2 P {
  margin-top: 2rem;
  font-size: 18px;
  line-height: 27px;
}
.main-box2 .span {
  margin-top: 2rem;
  color: #828282;
  font-size: 14px;
}
input[type="email"] {
  width: 21rem;
  height: 3.4rem;
  border: none;
  border-radius: 12px;
  background-color: #f2f2f2;
  padding: 20px;
}
input[type="email"]::placeholder {
  font-size: 18px;
  color: #bdbdbd;
}
.main-box2 input[type="button"] {
  width: 5.8rem;
  height: 2.7rem;
  border: none;
  border-radius: 12px;
  background-color: #2d9cdb;
  font-size: 18px;
  color: #f2f2f2;
  position: absolute;
  right: 1.3rem;
  bottom: 5px;
  cursor: pointer;
}

/* SERVICE SECTION */

.services {
  margin: 8rem 10rem;
}
.services h1 {
  font-size: 36px;
  font-weight: 500;
}
.serviceBox {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.serviceBox .boxes {
  width: 21.3rem;
  padding: 2rem;
  height: 26rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.serviceBox .boxes:hover {
  background: #ffffff;
  box-shadow: -4px -4px 15px #f5f5f5, 5px 5px 12px #ffffff;
}
.serviceBox .boxes img {
  border-radius: 10px;
  margin: 10px 0;
}
.serviceBox .boxes h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin: 1.2rem 0;
}
.serviceBox .boxes p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 2rem;
}
.serviceBox .boxes button {
  border: none;
  background-color: #e0e0e0;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  margin-top: 2rem;
}
.serviceBox .boxes:hover button {
  background-color: #2d9cdb;
}
.serviceBox .boxes button a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #828282;
}
.serviceBox .boxes:hover button a {
  color: #fff;
}
.serviceBox .frontend button {
  background-color: #2d9cdb;
}
.serviceBox .frontend button a {
  color: #fff;
}

/* DESIGN SECTION */

.design {
  margin: 0rem 10rem;
}
.design h1{
  font-size: 36px;
  font-weight: 500;
}
.design-container{
  margin-top:5rem ;
}
.design-container .row1 ,
.design-container .row2
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10rem;
  position: relative;
  /* column-gap: 20px; */
}
.grid-2 , .grid-4{
  position: relative;
  top: -8rem;
}
.box{
  width: auto;
}
.box img{
  border-radius: 12px;
}
.box p{
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #828282;
}
.box h5{
  font-size: 18px;
  line-height: 36px;
  font-weight: 500;
}
.see-more{
  float: right;
  border: none;
  background-color:#ffffff;
}
.see-more a{
  color: #2d9cdb;
  font-size: 24px;
  line-height: 27px;
  text-decoration: none;
}
.see-more a i{
  color: #2d9cdb;
  font-size: 20px;
  font-weight: 600;
}

            /* TEAM SECTION */



.team{
  margin: 15rem 10rem ;
  display: flex;
  justify-content: space-between;
}
.team-heading h5{
  font-size: 18px;
  font-weight: 500;
  color: #eb5757;
  line-height: 27px;
}
.team-heading h1{
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
}
.team-heading p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.team-collage{
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}
.team-collage img{
  border: none;
  border-radius: 12px;
}
.team-collage img:nth-child(1){
  position: absolute;
  width: 200px;
  top: -100px;
  right: 50px;
}
.team-collage img:nth-child(2){
  position: relative;
  width: 250px;
  height: 250px;
  bottom: -120px;
}
.team-collage img:nth-child(3){
  position: relative;
  left: -20px;
}


            /* TESTIMONIALS SECTION */

.Testimonials{
  margin: 0 10rem ;
}
.Testimonials h1{
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
}
.user-card{
  display: flex ;
  margin-top: 1rem;
}
.user-card img{
  width: 70px;
  border-radius: 5px;
}
.user-card div{
  margin-left: 2rem;
}
.user-card div h5{
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.user-card div p{
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: #828282;
}


                    /* FOOTER SECTION  */


.footer{
  margin-top: 10rem ;
  padding: 5rem  10rem;
  background-color: #100e1d;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}
.footer-nav ul li{list-style: none;}
.footer-nav ul li a{
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
}
.footer-icon h1{
  font-size: 2.2rem;
  font-weight: 800;
  line-height: 3.5rem;
  cursor: pointer;
}
.footer-icon img {cursor: pointer;}
.footer-contact{
  position: relative;
}
.footer-contact p{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.8rem;  
}
.footer-contact input[type="button"]{
  width: 5.8rem;
  height: 2.7rem;
  border: none;
  border-radius: 12px;
  background-color: #2d9cdb;
  font-size: 18px;
  color: #f2f2f2;
  position: absolute;
  right: 0.3rem;
  top: 1.9em;
  cursor: pointer;
}
footer{
  background-color: #100e1d;
}
.creator{
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2rem;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 1rem;
}
.creator a{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2rem;
  font-size: 14px;
  font-weight: 800;
}


/* now make this website responsive  */

@media screen and (max-width:1280px) {

  .nav ul li a{
    font-size: 20px;
  }
  /* main  */
  .main-box1 ,
  .main-box2 
  {
    left: 6rem;
  }
  main img{
    width: 100%;
  }
  /* service */
  .services {
    margin: 8rem 6rem;
  }
  .serviceBox .boxes{
   padding: 1.8rem;
  }

  /* design */
  .design{
    margin: 0 6rem;
  }
  .box img{
    width: 95%;
  }
  .see-more a{
    font-size: 22px;
  }
  .see-more a i{
    font-size: 18px;
  }

  /* team */
  .team{
    margin: 15rem 6rem;
  }
  .team-collage img:nth-child(3){
    width: 17.5rem;
  }
  .team-collage img:nth-child(2){
    width: 14.3rem;
  }
  .team-collage img:nth-child(1){
    right: 30px;
  }


  /* TESTIMONIALS */
  .Testimonials{
    margin: 0 6rem;
  }
  .Testimonials h1{
    font-size: 34px;
  }

  /* FOOTER */
  .footer{
    padding: 5rem 6rem;
  }

}

@media screen and (max-width:1024px) {

  .navbar{
    margin: 2rem;
  }
  .nav ul li a{
    font-size: 18px;
  }
  .nav ul li{
    margin: 0 1rem;
  }


  .main-box1 ,
  .main-box2 
  {
    left: 4rem;
  }
  .main-box1 h1 ,
  .main-box2 h1 
  {
    font-size: 34px;
    line-height: 50px;
  }
  main img {
    height:220px ;
    border-radius: 8px;
  }
  
  .main-box2 p {
    font-size: 14px;
    line-height: 25px;
    width: 16rem;
  }
  .main-box2 .span{
    font-size: 12px;
  }
  input[type="email"] {
    width: 16rem;
    height: 2rem;
    border-radius: 8px;
  }
  input[type="email"]::placeholder{
    font-size: 14px;
  }
  .main-box2 input[type="button"]{
    height: 2rem;
    width: 4rem;
    right: 6.3rem;
    bottom: 4px;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
  }


  .services{
    margin: 6rem 4rem;
  }
  .serviceBox{
    flex-wrap: wrap ;
    row-gap: 2rem;
  }
  .services h1{
    font-size: 30px;
  }
  .serviceBox .boxes {
    padding: 1rem;
    width: 17rem;
  }
  .serviceBox .boxes h6{
    font-size: 20px;
    margin: 1rem 0 ;
  }
  .serviceBox .boxes p{
    font-size: 14px;
    line-height: 20px;
    margin-top: 1rem;
  }


  .design{
    margin: 0  4rem;
  }
  .design h1{
    font-size: 30px;
  }
  .see-more a{
    font-size: 20px;
  }
  .see-more a i{
    font-size:16px ;
  }


  .team{
    margin: 12rem 4rem;
    flex-direction: column;
    row-gap: 3rem;
  }
  .team-heading h5{
    font-size: 16px;
  }
  .team-heading h1{
    font-size: 30px;
    line-height: 45px;
  }
  .team-heading p{
    font-size: 14px;
    line-height: 20px;
  }

  
  .Testimonials{
    margin: 0 4rem;
  }
  .Testimonials h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .Testimonials h1 br{display: none;}
  .user-card img{
    width: 50px;
    height: 50px;
  }
  .user-card div h5{
    font-size:20px ;
    line-height: 25px;
  }
  .user-card div p{
    font-size: 14px;
  }


  .footer{
    margin-top: 5rem;
    padding: 4rem 4rem;
  }
  .footer-nav ul li a{
    font-size: 16px;
  }
  .footer-icon h1{
    font-size: 1.9rem;
  }
  .footer-icon img{
    width: 20px;
  }
  .footer-contact p{
    font-size: 12px;
  }
  .footer-contact input[type="button"]{
    width: 4rem;
    height: 2.1rem;
    border-radius: 8px;
    top: 2rem;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px){

  .navbar{
    margin: 1rem 2rem;
  }
  .nav{
    display: none;
  }
  .menu-icon{
    display: block;
  }
  .main-box1 h1,
  .main-box2 h1{
    font-size: 24px;
    line-height: 40px;
  }
  .main-box1 p{
    font-size: 12px;
  }
  .main-box2 P{
    margin-top: 1rem;
    font-size: 12px;
    line-height: 20px;
  }
  main img{
    margin: 0;
  }
  .main-box1 ,
  .main-box2 
  {
    left: 1rem;
    width: auto;
  }
  .services{
    margin: 6rem 3rem;
  }
  .design{
    margin: 0 3rem;
  }
  .design h1{
    font-size: 24px;
    line-height: 40px;
  }
  .box h5{
    font-size: 16px;
    line-height: 25px;
  }
  .box p{
    font-size: 12px;
  } 
  .see-more a{
    font-size: 18px;
  }
  .see-more a i{
    font-size: 14px;
  }
  .services{
    margin: 6rem 3rem;
  }
  .services h1{
    font-size: 24px;
    line-height: 40px;
  }
  .team{
    margin: 10rem 3rem;
    flex-direction: column;
  }
  .team h1{
    font-size: 24px;
    line-height: 40px;
  }
  .team p{
    font-size: 12px;
    line-height: 20px;
  }
  .team-heading h5{
    font-size: 12px;
  }
  .team-collage img:nth-child(3){
    width: 15rem;
  }
  .team-collage img:nth-child(2){
    width: 13rem;
  }
  .team-collage img:nth-child(1){
    right: .7rem;
  }


  .Testimonials{
    margin: 0 3rem;
  }
  .Testimonials h1{
    font-size: 24px;
    line-height: 40px;
  }
  .user-card img{
    width: 40px;
    height: 40px;
  }
  .user-card div{
    margin-left: .8rem;
  }
  .user-card div h5{
    font-size:16px ;
    line-height: 24px;
  }
  .user-card div p{
    font-size: 12px;
    line-height: 15px;
  }


  .footer{
    padding: 3rem 3rem;
  }
  .footer-nav ul li a{
    font-size: 14px;
  }
  .footer-icon h1{
    font-size: 1.6rem;
  }
  .footer-icon img{
    width: 15px;
  }
  .creator{
    font-size: 10px;
  }
  .creator a{
   font-size: 10px; 
  }

}
